
.bottom-bar-wrapper {
    height: 67px;
    width: 101%;
    background-color: rgb(59, 59, 59);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: relative;
    top: -221px;
    text-align: center;
    font-size: 2em;
    margin-left: -31px;
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
}
.bottom-bar-wrapper > .codepen1 {
    border: 2px solid rgb(206, 187, 187);
    padding: 30px;
    position: relative;
    top: -21px;
}
.bottom-bar-wrapper > .codepen1 > .teams {
    font-weight: bold;
    font-size: 40px;
}
.bottom-bar-wrapper > .codepen2 {
    border: 2px solid rgb(206, 187, 187);
    padding: 30px;
    position: relative;
    top: -21px;
}
.bottom-bar-wrapper > .codepen2 > .education {
    font-weight: bold;
    font-size: 40px;
}
.bottom-bar-wrapper > .codepen3 {
    border: 2px solid rgb(206, 187, 187);
    padding: 30px;
    position: relative;
    top: -21px;
}
.bottom-bar-wrapper > .codepen3 > .privacy {
    font-weight: bold;
    font-size: 40px;
}
.bottom-bar-wrapper > .codepen4 {
    border: 2px solid rgb(206, 187, 187);
    padding: 30px;
    position: relative;
    top: -21px;
}
.bottom-bar-wrapper > .codepen4 > .writing {
    font-weight: bold;
    font-size: 40px;
}


.bottom-nav-wrapper {
    background-color: black;
    height: 263px;
    align-items: center;
    position: relative;
    top: -220px;
    margin-left: -15px;
    margin-right: -15px;
}